<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Setup\Model\Installer">
        <plugin name="setupmodule_installer" type="Team23\SetupModule\Plugin\Installer" sortOrder="1"
                disabled="false"/>
    </type>
</config>
